<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/shopownerprofile">WebsiteDemo</a>
    </div>
    <ul class="nav navbar-nav">
      <li >
      <a href="#/shopownerprofile">Home</a></li>
      <li><a href="#/addDigitalProduct" >Add DigitalProduct</a></li>
                <li class="active"><a href="#/DigitalProductList" > DigitalProduct List</a></li>
      <li><a href="#/logout" >Logout</a></li>
    </ul>
  </div>
</nav>

<div id="products" class="row list-group" >
    <div class="item  col-xs-4 col-lg-4" ng-repeat="product in products">
        <div class="thumbnail">
            <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                      Name:{{product.digital_product.name}}</h4>
                <p class="group inner list-group-item-text">
                  Description:{{product.digital_product.description}}
                    </p>
                <p class="group inner list-group-item-text">
                  quantity:{{product.digital_product.quantity}}
                    </p>
                <p class="group inner list-group-item-text">
                  isAvaliable:{{product.digital_product.isAvaliable}}
                    </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            Rs.{{product.digital_product.price}}</p>
                    </div>
                    <!-- <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="">Add to cart</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="user in users">
				<h2>{{user.name}}</h2>
				<div>{{user.description}}</div>
			</div>
