<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/shopownerprofile">WebsiteDemo</a>
    </div>
    <ul class="nav navbar-nav">
      <li >
        <a href="#/shopownerprofile">Home</a></li>
        <li class="active"><a href="#/addDigitalProduct" >Add DigitalProduct</a></li>
                <li ><a href="#/DigitalProductList" > DigitalProduct List</a></li>
        <li><a href="#/logout" >Logout</a></li>
    </ul>
  </div>
</nav>
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Add DigitalProduct</h1>

	<!-- show any messages that come back with authentication -->
	<!-- <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %> -->
	<div class="alert alert-danger">{{message}}</div>
	<!-- LOGIN FORM -->
	<form novalidate="novalidate" name="addDigitalProductForm" enctype="multipart/form-data">
    <input type="hidden" ng-model="formData.ownerId" value="">
		<div class="form-group">
			<label>Product Name*</label>
			<input type="name" class="form-control" ng-model="formData.productName" autofocus="" required>
		</div>
		<div class="form-group">
			<label>Product Description*</label>
			<textarea class="form-control" ng-model="formData.productDescription" required></textarea>
		</div>
		<div class="form-group">
			<label>Product file (Note:should be upload in zip format)</label>
			<input type="file" class="form-control" name='productFile' required>
		</div>
		<div class="form-group">
			<label>Product Price(Note : In indian ruppee)*</label>
			<input type="number" class="form-control" ng-model="formData.productPrice" required>
		</div>
		<div class="form-group">
			<label>Product quantity/*</label>
			<input type="number" class="form-control" ng-model="formData.productQuantity" required>
		</div>
		<div class="form-group">
      <!-- RADIO BUTTONS -->
    <label>Is Avaliable to Market *</label>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="isAvaliable" value=true ng-model="formData.isAvaliable" required="">
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="isAvaliable" value="false" ng-model="formData.isAvaliable" required="">
                No
            </label>
        </div>
    </div>
		</div>


		<button type="submit" class="btn btn-warning btn-lg" ng-click="addDigitalProduct()">Add Product</button>
	</form>

	<hr>


</div>
