
<div class="page-header text-center">
<h1><span class="fa fa-leaf" style="color:#0dd00d"></span> Digital Products</h1>
{Go <a href="#/" class="">Home</a>}
</div>
<div id="products" class="row list-group" >
    <div class="item  col-xs-4 col-lg-4" ng-repeat="product in vProducts">
        <div class="thumbnail">
            <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                      Name:{{product.digital_product.name}}</h4>
                <p class="group inner list-group-item-text">
                  Description:{{product.digital_product.description}}
                    </p>
                <p class="group inner list-group-item-text">
                  quantity:{{product.digital_product.quantity}}
                    </p>
                <p class="group inner list-group-item-text">
                  isAvaliable:{{product.digital_product.isAvaliable}}
                    </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            Rs.{{product.digital_product.price}}</p>
                    </div>
                    <!-- <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="">Add to cart</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
