<div class="jumbotron text-center">
  <h1><span class="fa fa-lock"></span> Node Authentication</h1>

  <p>Login or Register with:</p>
  <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local login</a>
  <a href="#/visibleProducts" class="btn btn-default"><span class="fa fa-leaf"></span>View Products</a>
</div>
