<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	<!-- <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %> -->
	<div class="alert alert-danger">{{message}}</div>
	<!-- LOGIN FORM -->
	<form novalidate="novalidate" name="loginForm">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" ng-model="formData.email" autofocus="" required>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="formData.password" required>
		</div>


		<button type="submit" class="btn btn-warning btn-lg" ng-click="login()">Login</button>
	</form>

	<hr>

  <p>Don't have an account? <a href="#/signup">SignUP</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>
