<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/shopownerprofile">WebsiteDemo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <a href="#/shopownerprofile">Home</a></li>
      <li><a href="#/addDigitalProduct" >Add DigitalProduct</a></li>
                <li ><a href="#/DigitalProductList" > DigitalProduct List</a></li>
      <li><a href="#/logout" >Logout</a></li>
    </ul>
  </div>
</nav>

<div class="page-header text-center">
<h1><span class="fa fa-anchor"></span> Profile Page</h1>

</div>


<div class="row">


  <!-- LOCAL INFORMATION -->
  <div class="col-sm-6">
    <div class="well">
      <h3><span class="fa fa-user"></span> Local</h3>

        <p>
          <strong>id</strong>: {{id }}<br>
          <strong>email</strong>: {{ email }}<br>

        </p>

    </div>
  </div>


</div>
