<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="" action="/form" method="post">
      <input type="text" name="username" value="" placeholder="first name">
      <input type="text" name="password" value="" placeholder="password">
      <input type="submit"   value="Submit">
    </form>
  </body>
</html>
